@inherits RazorSlice

<div class="row">
    <div class="col">
        <div>Categories</div>
    </div>
</div>
<div class="row">
    <div class="col">
        <button hx-get="/admin/settings/categories/modal/new"
                hx-target="#new-category-modal-content"
                data-bs-toggle="modal" data-bs-target="#new-category-modal">
            Create Category
        </button>
    </div>
</div>
<div class="row">
    <div class="col">
        <table id="categories-datatable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="modal fade" id="category-modal">
    <div class="modal-dialog">
        <div id="content" class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade" id="new-category-modal">
    <div class="modal-dialog">
        <div id="new-category-modal-content" class="modal-content">
        </div>
    </div>
</div>
<script>
    $(function() {
        $('#categories-datatable').DataTable({
            processing: true,
            serverSide: true,
            responsive: true,
            ajax: { url: '/admin/settings/categories/table' },
            columns: [{
                data: null, name: 'Name',
                render: function(data) {
                    return `<a hx-get="/admin/settings/categories/modal/edit/${data.id}" hx-target="#content" data-bs-toggle="modal" data-bs-target="#category-modal">${data.name}</a>`;
                }
            }],
            drawCallback: function() {
                htmx.process(document.getElementById('categories-datatable'));
            }
        });
    });
</script>