@inherits RazorSlice

<div class="row">
    <div class="col">
        <div>Products</div>
    </div>
</div>
<div class="row">
    <div class="col">
        <button hx-get="/admin/product/modal/new"
                hx-target="#content" 
                data-bs-toggle="modal" data-bs-target="#product-modal">Create Product</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <table id="products-datatable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="modal fade" id="product-modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div id="content" class="modal-content">
            
        </div>
    </div>
</div>
<script>
    $(function() {
        $('#products-datatable').DataTable({
            processing: true,
            serverSide: true,
            responsive: true,
            ajax: { url: '/admin/products-table' },
            columns: [{
                data: null, name: 'Name',
                render: function(data) {
                    return `<a hx-get="/admin/product/modal/${data.id}" hx-target="#content" data-bs-toggle="modal" data-bs-target="#product-modal">${data.name}</a>`;
                }
            }],
            initComplete: function() {
                htmx.process(document.getElementById('products-datatable'));
            }
        });
    });
</script>