@inherits RazorLayoutSlice<LayoutModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Title</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <script defer src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/htmx/htmx.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">

    @(await RenderPartialAsync<Navigation>())

    @if (Model.HasHeader)
    {
        @(await RenderPartialAsync<Header>())
    }
    
    @await RenderBodyAsync()

    @(await RenderPartialAsync<Footer>())

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/site.js"></script>

</body>
</html>