<div id="billing-address-div">
    <h4 class="mb-3">Fakturaadresse</h4>
    <div class="row">
        <div class="col-3">
            <label for="billing-first-name" class="form-label">Fornavn *</label>
            <input type="text" id="billing-first-name" class="form-control" maxlength="30" autocomplete="billing given-name" required>
        </div>
        <div class="col-3">
            <label for="billing-last-name" class="form-label">Efternavn *</label>
            <input type="text" id="billing-last-name" class="form-control" maxlength="30" autocomplete="billing family-name" required>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-3">
            <label for="billing-address" class="form-label">Adresse *</label>
            <input type="text" id="billing-address" class="form-control" maxlength="40" autocomplete="billing address-line1" required>
        </div>
        <div class="col-3">
            <label for="billing-postcode" class="form-label">Postnummer *</label>
            <input type="text" id="billing-postcode" class="form-control" inputmode="numeric" autocomplete="billing postal-code" required>
        </div>
        <div class="col-3">
            <label for="billing-city" class="form-label">By *</label>
            <input type="text" id="billing-city" class="form-control" maxlength="30" autocomplete="billing address-level2" required>
        </div>
    </div>
</div>