@inherits RazorSlice

<section id="section" class="py-5">
    <div class="container-fluid" style="max-width: 1024px;">
        <div class="row">
            <div class="col">
                <h4>Din indkøbsvogn er tom</h4>
            </div>
        </div>
    </div>
</section>
<div id="submit-form" hx-swap-oob="delete"></div>