@inherits RazorSliceHttpResult<CheckoutVm>

<section id="section" class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row">
            <div class="col">
                <div class="card border-0">
                    <div class="card-body">
                        <div id="cart-container" class="container">
                            @(await RenderPartialAsync<CheckoutUpdate, CheckoutVm>(Model))
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="border-0">

        <form id="submit-form" class="needs-validation" hx-post="/cart/submit" hx-target="#form-result" novalidate>
            <input type="hidden" name="__RequestVerificationToken" value="@Model.CheckoutFormAntiForgeryToken" />
        <div class="row">
            <div class="col">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h2 class="mb-2">Personoplysninger</h2>
                                </div>
                            </div>

                            <hr class="border-1">

                            <div class="container p-5 bg-light">
                                <h6 class="mb-3">Leveringsadresse</h6>
                                @(await RenderPartialAsync<DeliveryAddress>())

                                <div class="row">
                                    <div class="col">
                                        <div class="form-check mt-4">
                                            <input hx-get="/checkout/billing-address"
                                                hx-trigger="change" 
                                                hx-target="#billing-address-div"
                                                hx-include="[name='billingAddressCb']"
                                                type="checkbox" name="billingAddressCb" class="form-check-input excluded-input" autocomplete="off">
                                            <label for="alternative-address" class="form-check-label excluded-label">Vil du sende til en alternativ leveringsadresse?</label>
                                        </div>
                                    </div>
                                </div>
                            <div id="billing-address-div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="border-0">

        <div class="row">
            <div class="col">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="container p-3 bg-light">
                            <h6 class="mb-3">Kontaktoplysninger</h6>
                            <div class="row g-3">
                                <div class="col-4">
                                    <label for="contact-email" class="form-label">E-mail *</label>
                                    <input type="email" id="contact-email" class="form-control" maxlength="100" required>
                                </div>
                                <div class="col-4">
                                    <label for="contact-phone" class="form-label">Mobilnummer (8 cifre) *</label>
                                    <input type="tel" id="contact-phone" class="form-control" inputmode="numeric" required>
                                </div>
                            </div>
                            <div class="form-check mt-4">
                                <input type="checkbox" id="newsletter" class="form-check-input">
                                <label for="newsletter" class="form-check-label">
                                    Tilmeld dig vores nyhedsbrev og få skræddersyede tilbud via e-mail med op til 50 % rabat på udvalgte varer.
                                </label>
                                <div class="mt-2">
                                    <small>
                                        Ved at tilmelde dig vores nyhedsbrev accepterer du vores <a href="/information/persondatapolitik" class="text-decoration-underline">persondatapolitik</a>, og du giver samtykke til, at vi må sende dig markedsføring via e-mail. Du kan trække dit samtykke tilbage når som helst.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <hr class="border-0">

            <div class="row">
                <div class="col">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="container">
                                <h4 class="mb-3">Delivery Options</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="border-0">

            <div class="row">
                <div class="col">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="container">
                                <h4 class="mb-3">Payment Options</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit">Submit</button>

        </form>

    </div>
    <div id="header" hx-swap-oob="delete"></div>
</section>