<header id="header" class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">ArtForm.dk</h1>
            <p class="lead fw-normal text-white-50 mb-0">Følg os på Instagram eller Facebook</p>
            <ul class="list-unstyled d-flex justify-content-center mt-3">
                <li class="ms-3">
                    <a class="link-body-emphasis" aria-label="Visit our instagram page" href="https://www.instagram.com/artform.dk" target="_blank">
                        <svg class="bi" fill="white" width="32" height="32"><use xlink:href="#instagram"></use></svg>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-body-emphasis" aria-label="Visit our facebook page" href="https://www.facebook.com/artform.dk" target="_blank">
                        <svg class="bi" fill="white" width="32" height="32"><use xlink:href="#facebook"></use></svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>