@using RazorShop.Data.Entities
@inherits RazorSlice<IEnumerable<Category>>

<li>
    <a href="/Products"
       hx-get="/Products"
       hx-target="#section"
       hx-push-url="true"
       hx-swap="outerHTML"
       class="dropdown-item">Alle produkter</a>
</li>
<li>
    <hr class="dropdown-divider" />
</li>

@foreach (var item in Model)
{
    <li>
        <a href="/Products/@item.Name"
           hx-get="/Products/@item.Name"
           hx-target="#section"
           hx-push-url="true"
           hx-swap="outerHTML"
           class="dropdown-item">@item.Name</a>
    </li>
}