@inherits RazorSliceHttpResult<OrderSuccessVm>

<section id="section" class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row">
            <div class="col">
                TAK FOR DIN BESTILLING!!
            </div>
        </div>
    </div>
</section>