@inherits RazorSliceHttpResult<OrderFailureVm>

<section id="section" class="py-5">
    <div class="container-fluid" style="max-width: 1024px;">
        <div class="row">
            <div class="col">
                Der opstod en fejl, venligst prøv igen.
            </div>
        </div>
    </div>
</section>