@inherits RazorSliceHttpResult<ProductsVm>

<section id="section" class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var product in Model.Products!)
            {
                <div class="col mb-5">
                    <div class="card h-100">

                        <a hx-get="/Product/@product.Id"
                           hx-trigger="click"
                           hx-target="#section"
                           hx-push-url="true"
                           hx-swap="outerHTML" role="button">

                           <img class="card-img-top" src="/products/@product.Id/@($"{product.Id}_1.webp")" alt="..." />
                           <div class="card-body p-4">
                               <div class="text-start">
                                   <h5 class="fw-bolder">@product.Name</h5>
                                   @product.Price
                               </div>
                           </div>
                       </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>