.was-validated .excluded-input,
.was-validated .excluded-label {
    box-shadow: none !important;
    border-color: initial !important;
    color: initial !important;
}

#ddBtn:hover svg.icon,
#ddBtn.show {
    fill: white;
}